<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}TEMPLATE{% endblock  %}</title>
        <link rel="stylesheet" href="/static/bundle.min.css">
        {% block head %} {% endblock %} 
    </head>
    <body>
        <nav>
            <span>
                Nav bar
            </span>
            <ul>
                <li><a href="/"> Link 1</a></li>
                <li><a href="/"> Link 1</a></li>
                <li><a href="/"> Link 1</a></li>
            </ul>  
        </nav>
        <main>
            {% block content %} {% endblock %}  
        </main>
    </body>
    <script type="text/javascript" src="/static/bundle.min.js"></script>
</html>


