<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}TEMPLATE{% endblock  %}</title>
        <link rel="stylesheet" href="/static/bundle.min.css">
        {% block head %} {% endblock %} 
    </head>
    <body>
        <nav>
             <a href="/">Home</a></li>
             <a href="/portfolio">Portfolio</a></li>  
             <div></div>
             <a href="/contact">Contact</a></li>
        </nav>
        <div class="main_container"> 
            <main>
                <div class="title">
                    <h1>L</h1>
                    <h1>Wilkuu.xyz</h1>
                    <div></div>
                    <h1>{% block title %}{% endblock %}<h1>
                </div>
                <div> {% block content %} {% endblock %} </div>  
            </main>
        </div>
    </body>
    <script type="text/javascript" src="/static/bundle.min.js"></script>
</html>


